html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('images/bg.png');
    background-size: cover;     /* Make the image cover the whole screen */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}