html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(at bottom left, #ffae00, transparent 50%),
                radial-gradient(at bottom right, #ff00ff, transparent 50%),
                linear-gradient(to top, #000000, #000000 30%, transparent 70%);
    background-blend-mode: screen;
  }
  
  .container {
    width: 100%;
    height: 100%;
  }