$root: '.c-rainbow';

:root {
  --axis-x: 1px;
  --axis-y: 1rem;
  --delay: 10;

  --color-black: #000;
  --color-white: #fff;
  --color-orange: #D49C3D;
  --color-red: #D14B3D;
  --color-violet: #CF52EB;
  --color-blue: #44A3F7;
  --color-green: #5ACB3C;
  --color-yellow: #DEBF40;

  --color-foreground: var(--color-white);
  --font-name: Manrope;
}

html, body {
   font-size: 24px;
   height: 100vh;
   display: flex;
   align-items: top;
   justify-content: center;
   font-family: var(--font-name);
   color: #fff;
   text-align: center;
}

#{$root} {
  counter-reset: rainbow;
  position: relative;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  &__layer {
    --text-color: var(--color-foreground);
    counter-increment: rainbow;
    font-size: 3rem;
    color: var(--text-color);
    text-shadow: 
      -1px -1px 0 var(--color-black),
       1px -1px 0 var(--color-black),
      -1px 1px 0 var(--color-black),
       1px 1px 0 var(--color-black),
       4px 4px 0 rgba(0, 0, 0, 0.2);
    animation: rainbow 1.5s ease-in-out infinite;

    @for $i from 1 through 7 {
      &:nth-child(#{$i}) {
        animation-delay: calc($i / var(--delay) * 1s);
        left: calc(var(--axis-x) * $i);
        z-index: -$i * 10;
      }
    }

    &:not(:first-child) {
      position: absolute;
      top: 0;
    }

    &--white  { --text-color: var(--color-white); }
    &--orange { --text-color: var(--color-orange); }
    &--red    { --text-color: var(--color-red); }
    &--violet { --text-color: var(--color-violet); }
    &--blue   { --text-color: var(--color-blue); }
    &--green  { --text-color: var(--color-green); }
    &--yellow { --text-color: var(--color-yellow); }
  }
}

@keyframes rainbow {
  0%, 100% { transform: translateY(var(--axis-y)); }
  50% { transform: translateY(calc(var(--axis-y) * -1)); }
}


$bg-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAuklEQVRoQ+2a0Q2EIADFYAVvRRIdCkc8V0Bc4SVNxJT/vkDrp3Xfj3GevWzbr6x6rutf6rz8aK2V3vuq7yjP/essMZ4XrX58yNsKWsQikAE/LUhsPGuRWB0EWgQSG89aJFYHgRaBxMazFonVQaBFILHxrEVidRBoEUhsPGuRWB0EWgQSG89aJFYHgRaBxMazFonVQaBFILHxrEVidRBoEUhsPGuRWB0EWgQSG89aJFYHgd8pMgV94n+tG98AzWXp7sfhAAAAAElFTkSuQmCC";
$bg-width: 50px;
$bg-height: 50px;

@keyframes bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}

body {
  background: url($bg-url) repeat 0 0;
  animation: bg-scrolling-reverse 1.40s linear infinite;
}
