@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');

body {
    scroll-behavior: smooth;
}

.rainbow-box-something-idk {
    font-family: Righteous;
    width: 223.667px;
    height: 89px;
    margin: 0 auto;
    text-align: center;
}

.statuses {
    font-family: JetBrains Mono, monospace;
    margin-top: 20px;
}

.jb-mono {
    font-family: JetBrains Mono, monospace;
}

.box {
    font-size: 18px;
    display: inline-block;
    background: rgba(94, 94, 94, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8.7px);
    border: 3px solid rgba(255, 255, 255, 1);
    margin-left: 5px;
    margin-right: 5px;

}

.text-inside {
    margin-left: 20px;
    margin-right: 20px;
}

.div-with-divs {
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    align-items: top;
    display: flex;
}

/* rainbow color changing stuff idfk */

@keyframes rainbow-text {
    0%   {color: #ff0000;}
    12%  {color: #ffa500;}
    24%  {color: #ffff00;}
    36%  {color: #008000;}
    48%  {color: #00ffff;}
    60%  {color: #0000ff;}
    72%  {color: #800080;}
    84%  {color: #ffc0cb;}
    100% {color: #ff0000;}
}

.ranibow span{
    pointer-events: all;
    animation: rainbow-text 3s infinite;
    display: table-cell;
}
.wave span:nth-child(1)  { animation-delay: -1600ms; }
.wave span:nth-child(2)  { animation-delay: -1400ms; }
.wave span:nth-child(3)  { animation-delay: -1200ms; }
.wave span:nth-child(4)  { animation-delay: -1000ms; }
.wave span:nth-child(5)  { animation-delay: -800ms;  }
.wave span:nth-child(6)  { animation-delay: -600ms;  }

/* click to enter */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.overlay-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 24px;
    text-align: center;
    user-select: none;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
  } 
