body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  user-select: none;
  font-family: 'Jetbrains Mono';
}

a {
  color: #121212;
  text-decoration: none;
  border-bottom: 4px dotted;
}

.scroll-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.snap-zone {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.snap-zone.title {
  background: radial-gradient(at bottom left, #ffae00, transparent 73%),
              radial-gradient(at bottom right, #ff8dd9, transparent 62%),
              radial-gradient(at bottom center, #8d214e, transparent 50%),
              linear-gradient(to top, #121212, #121212 30%, transparent 70%);
  background-color: #121212;
  font-family: "Dela Gothic One", sans-serif;
  color: #ffffff;
  font-size: 90px;
  line-height: 0.7;
}

.smaller-text {
  font-size: 40px;
}

/* Combined styles for the second snap-zone */
.snap-zone.soon {
  background-color: #121212;
  color: #ffffff;
  font-size: 30px;
}

/* Combined styles for the third snap-zone */
.snap-zone.copyright {
  background-color: #ffffff;
  color: #121212;
  line-height: 1.5;
  font-size: 30px;
  background: radial-gradient(at bottom left, #ffd1df, transparent 79%);
}

.grey {
  color: #7a7a7a;
}

.cursor-click-trick {
  cursor: pointer;
}

.smol-text {
  font-size: 10px;
  opacity: 0.5;
}

.dl {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: 4px solid white;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dl:hover {
  color: #ffd1df;
}

.jm {
  font-family: 'Jetbrains Mono';
  font-size: 16px;
    background-color: #000;
    border: 2px solid #fff;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 10px;
    opacity: 80%;
}

.w {
  color: white;
}

.bs {
  font-size: 40px;
}